
             /* Змінні CSS */

:root {
    --main-text-color: #757575;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --black-titel-color: #212121; 
    --grey-light-bcg-color:#2f303a;
    --button-bcg-color: #f5f4fa ;
    --adress-footer-color:#ffffffb3;
}

body{
    font-family: "Roboto", sans-serif;
   
}

.body-portfolio{
    display: flex;
    gap: 94px;
    flex-direction: column;
    justify-content: center;
}
.container {
  max-width: 1170px; 
    padding: 0 15px;
    margin: 0 auto;
}
                        /* header */
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-container{
    display: flex;
    align-items: center;
}
.header-logo, .footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 26px;
    letter-spacing: 0.78px;
    color: var(--black-titel-color);
}                 
.header-list{
    display: flex;
    gap: 50px;
    margin-left: 93px;
}
.header-contacts{
    display: flex;
    gap: 50px;
    margin-left: auto;


}

.header-link:hover{
    color: var(--accent-color);
}
.header-link{
    color: var(--main-text-color);
    color: var(--main-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}


.header-page {
    color:var(--black-titel-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.header-page:hover{
    color:var(--accent-color);
}
                             /* hero */
.hero {
    background-color: var( --grey-light-bcg-color);
    padding: 200px 0;
    display: flex;
    justify-content:center;
 }
 .hero-title{
    margin-bottom: 30px;
    font-weight: 900;
    line-height: 1.4;
    font-size: 44px;
    letter-spacing: 2.64px; 
    text-transform: uppercase; 
    max-width: 696px;
    text-align: center;
 }
 .hero-button:hover{
     background-color: var(--accent-color);
     color:var(--white-color);
 }
 .hero-button {
     padding: 10px 32px;
     border: none;
     cursor: pointer;
     border-radius: 4px;
     background-color: var(--button-bcg-color);
     color:var(--black-titel-color);
     font-weight: 700;
     line-height: 1.8;
     font-size: 16px;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
     letter-spacing: 0.96px; 
     margin-left: 250px;
    
 }
                            /* advantages  */
.advantages{
    padding-top: 94px ;
    padding-bottom: 94px;
}

.advantages-title{
    color: var(--white-color);
}
.advantages-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.advantages-subtitle{
    font-weight: 700;
    line-height: 1.2;
    font-size: 14px;
    margin-bottom: 10px;
}
.advantages-text{
    font-weight: 400;
    line-height: 1.7;
    font-size: 14px;
    letter-spacing: 0.42px;
    font-style: normal;

}
                         /* work */

 .work{
    padding-bottom: 94px;
}    
.work-title{
    margin-bottom: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    font-size: 36px;
    letter-spacing: 1.08px;
}                     
.work-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.work-img{
    width: 370px;
    height: 294px;
}
                       /* team */

.team {
    background-color: var(--button-bcg-color);
    padding-top:94px;
    padding-bottom: 94px;
}                       
.team-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.team-title{
    margin-bottom: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    font-size: 36px;
    letter-spacing: 1.08px;
}
.team-item{
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    width: 270px;
    height: 368px;
    padding-bottom: 30px;
}
.team-subtitle{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
    text-align: center;
}
.team-text{
    font-weight: 400;
    line-height: 1.2;
    font-size: 16px;
    text-align: center;
}


          /* Заголовки  та абзац*/

          
h1 {
    color: var( --white-color);
}
h2 {
    color: var(--black-titel-color);
}
h3 {
    color: var(--black-titel-color);
}

p {
    color: var(--main-text-color);
     font-weight: 400;
    
}
                          /* footer */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var( --grey-light-bcg-color);
} 
.span-logo{
    color: var(--accent-color);
}
.footer-logo{
    color: var(--white-color);
}
.footer-address{
    font-weight: 400;
    line-height: 1.7;
    font-size: 14px;
}

.footer-URL {
    color: var(--white-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}
.footer-link{
    color: var(--adress-footer-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7; 
    letter-spacing: 0.42px;
    margin-top: 9px;
}
                        /* portfolio */

hr{
    color: var(--main-text-color);
}                       
.portfolio-btns{
    display: flex;
    justify-content: center;
    gap:8px ;
}
.portfolio-btns li:first-child .portfolio-element{
    padding: 6px 25px;
}
.portfolio-element{
    padding: 6px 22px;
}


.portfolio-element:hover{
    background-color: var(--accent-color);
    color: var( --white-color);
}
.portfolio-element {
    background-color: var(--button-bcg-color);
    color: var(--black-titel-color);
    font-weight: 500; 
    line-height: 1.6;
    font-size: 16px; 
    border-radius: 4px;

}

.portfolio-subtitle{
    font-weight: 700;
    line-height: 2;
    font-size: 18px;
}
.portfolio-text{
    font-weight: 400;
    line-height: 1.8;
    font-size: 16px;
}

