            /* Змінні CSS */

:root {
    --main-text-color: #757575;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --black-titel-color: #212121; 
    --grey-light-bcg-color:#2f303a;
    --button-bcg-color: #f5f4fa ;
    --adress-footer-color:#ffffffb3;
}

            /* Змінні CSS */    
.order-service {
   background-color: var( --grey-light-bcg-color);
}
.order-service-button:hover{
    background-color: var(--accent-color);
    color:var(--white-color);
}
.order-service-button {
    background-color: var(--button-bcg-color);
    color:var(--black-titel-color);
}

          /* Заголовки */

          
h1 {
    color: var( --white-color);
}
h2 {
    color: var(--black-titel-color);
}
h3 {
    color: var(--black-titel-color);
}
.info-name{
    color: var(--white-color);
}

          /* Заголовки */

.header-logo{
    text-decoration: none; 
    color: var(--black-titel-color);
}
.footer-logo{
    text-decoration: none;
    color: var(--white-color);
}
.footer-link {
    color: var(--white-color);
    text-decoration: none;
}
.footer-link:hover{
    color: var(--accent-color);
    text-decoration: none;
}
footer {
    background-color: var( --grey-light-bcg-color);
}
.footer-link2{
    color: var(--adress-footer-color);
    text-decoration: none;
}
.footer-link2:hover{
    color: var(--accent-color);
    text-decoration: none;
}
.header-link2:hover{
    color: var(--accent-color);
    text-decoration: none;
}
.header-link2{
    color: var(--main-text-color);
    text-decoration: none;
}
.header-link {
    color:var(--black-titel-color);
    text-decoration: none;
}
.header-link:hover{
    color:var(--accent-color);
    text-decoration: none;
}
.team {
    background-color: var(--button-bcg-color);
}
.sphere-it-button:hover{
    background-color: var(--accent-color);
    color: var( --white-color);
}
.sphere-it-button {
    background-color: var(--button-bcg-color);
    color: var(--black-titel-color);
}
p {
    color: var(--main-text-color);
}


                /* Шрифти  */

body{
    font-family: "Roboto", sans-serif;

}



.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
}                 
.order-service-name{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    line-height: 1.36;
    font-size: 44px;
}
.team-name{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.17;
    font-size: 36px;
}
.What-do-we-do-name{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.17;
    font-size: 36px;
}
.info-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
}
.order-service-button{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.88;
    font-size: 16px;
}
.team-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.19;
    font-size: 16px;
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.header-nav{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
}
.footer-address{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 14px;
}
.sphere-it-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 2;
    font-size: 18px;
}
.sphere-it-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500; 
    line-height: 1.63;
    font-size: 16px; ;
}
.footer-logo{
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
}
.info-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 14px;
}
.team-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.19;
    font-size: 16px;
}
.sphere-it-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.88;
    font-size: 16px;
}